name: Android Web3Wallet (production) deploy

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed

jobs:
  build:
    # if: github.event.pull_request.merged == true
    if: (github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'master') || github.event_name == 'workflow_dispatch'
    runs-on: macos-latest-xlarge

    steps:
    # Checkout the repo
    - name: Checkout repository
      uses: actions/checkout@v4

    # Install Java 17
    - name: Install Java 17
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        architecture: x86_64
        cache: 'gradle'

    # Cache Gradle
    - name: Cache Gradle
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    # Install Flutter and Dependencies
    - uses: ./.github/actions/dependencies
    
    # Fastlane
    - name: Fastlane
      working-directory: example/wallet/android
      env:
        FLAVOR: "production"
        PROJECT_ID: ${{ secrets.WALLET_PROJECT_ID }}
        SLACK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        FIREBASE_WALLET_ID: ${{ secrets.FIREBASE_WALLET_ID }}
        DOWNLOAD_URL: ${{ secrets.DOWNLOAD_URL_WALLET }}
      run: |
        PUBSPEC_FILE=../../../pubspec.yaml
        FILE_VALUE=$(echo | grep "^version: " $PUBSPEC_FILE)
        PARTS=(${FILE_VALUE//:/ })
        FULL_VERSION=${PARTS[1]}
        VERSION_NUMBER=(${FULL_VERSION//-/ })

        fastlane add_plugin firebase_app_distribution
        fastlane release_firebase project_id:$PROJECT_ID app_version:$VERSION_NUMBER

# Launch locally
# act -j build --container-architecture linux/amd64 -P macos-latest-xlarge=-self-hosted --secret-file .github/workflows/.env.secret -W .github/workflows/release_wallet_android.yml
